/*	Alexander Rhett Crammer
	Saturday, 1 November, 2014
	Project 2	*/

/* Things to use...
		text-shadow
									 */

body {
	background-color: #403831 ; /* Setting the background colour of the 'body' element */
	background-image: url("../images/black_linen_v2_@2X.png") ;
	background-repeat: repeat ;
	background-position: top center ;
	color: #F2EFE4 ; /* Setting the text colour of everything within the 'body' element */
	margin: 0 ; /* Clearing the margin of <body> */
	padding: 0 ; /* Clearing the padding of <body> */
}

body * {
	margin: 0 ; /* Clearing the margin of all elements within the <body> element */
	padding: 0 ; /* Clearing the padding of all elements within the <body> element */
}

.container {
	background-repeat: no-repeat ;
	background-position: top center ;
	background-size: cover ;
	margin: 0 auto ; /* Setting the containers' margin to 'auto' will center it */
	width: 75% ; /* Setting the width of the container */
}

header {
	color: rgba(255,255,255,0.9) ; /* Setting the colour of level 1 headers */
	background-color: #BF5E5E ; /* Setting the background colour for level 1 headers */
	box-shadow: 0px 0px 50px 5px rgba(100,100,100,0.4) ; /* Adding a drop shadow to level 1 headers */
	font-family: "Helvetica Neue", "Helvetica", "Source Sans Pro", "Arial", sans-serif; /* Determining which font should be used for level 1 headers */
	font-size: 2em ; /* Setting a pixel value for the size of level 1 header text */
	font-weight: 200 ; /* ...and how thin or heavy it should be */
	margin-bottom: 15px ; /* This will push all other elements down well */
	padding: 25px ; /* This makes the element large enough to fill the container and appear as a bar */
	direction: rtl ; /* Kind of a hack to make text-indent work with text aligned to the right */
	text-align: right ; /* Aligns the text of the title to the right */
	text-indent: 75px ; /* Moves the text from the right without changing the margin or padding */
}

h3 {
	background-color: #D95F98 ; /* Setting the background colour for level 3 headers */
	font-family: "Helvetica Neue", "Helvetica", "Source Sans Pro", "Arial", sans-serif ; /* Determining which font should be used for level 3 headers */
	font-size: 0.812em ; /* ...and size */
	font-style: italic ; /* Declaring that level 3 headers should have italic text */
	margin-bottom: 15px ; /* Pushing elements below level 3 headers down a little */
	padding: 15px ; /* Sets a nice large background to be filled with colour behind the text of level 3 headers */
	text-align: left ; /* Override of center value inherited from section */
	text-transform: uppercase ; /* Sets the text to display using upper case characters */
}

p {
	margin: 25px ; /* Helps seperate paragraphs from the rest of the content by squeezing them into a smaller block */
}

p, a {
	line-height: 20px ; /* Sets a high line height between lines of <a>'s and <p>'s */
	font-family: "Merriweather", "Times", "Times New Roman", serif ; /* Sets the font for <a>'s and <p>'s */
	font-size: 0.812em ; /* Sets the font size for <a>'s and <p>'s */
}

/* all links */
a:link {color: #BF506E ;text-decoration: none ;} /* Setting all link default properties */
a:visited {color: #BF506E ;text-decoration: none ;} /* ...again setting these properties to match the same case regardless of page visit */
a:hover {color: #D95F98 ;text-decoration: none ;} /* Setting properties for all links when the user mouses over them */
a:active {color: #BF5E5E ;text-decoration: none ;} /* Setting properties for links with a cursor clicking on them */

nav {
	background-color: rgb(64,56,49) ; /* Setting the background colour of unordered lists */
	border: 2px solid rgba(255,255,255,0.9) ; /* Real pixel-perfection in the works here */
	border-radius: 15px ; /* This will give us a little rounded edge around our unordered lists */
	position: fixed ; /* Declaring the position property */
	bottom: 0px ; /* Setting the bottom to 0 pixels */
	left: 0px ; /* ...and the right to 0 pixels */
	margin: 50px ;
	z-index: -1000000 ;
	padding: 25px 25px ; /* Demonstrating some padding in order to give unordered lists a little space to live */
	opacity: 0.4 ; /* Setting the default opacity of unordered lists. */
    text-align: right ; /* Aligning the text to the right */
}

.container nav:hover {
    opacity: 1 ; /* Setting the opacity for <ul> elements which are in the mouse over state contained in elements with the class 'container' */
    z-index: 1000000 ;
}

nav a {
	list-style-type: none ; /* Clearing those bullets */
	display: block ;
	margin: 5px auto ; /* Setting top and bottom margins to 15 pixels -- Left and right to 'auto' */
	font-family: "Helvetica Neue", "Helvetica", "Source Sans Pro", "Arial", sans-serif; /* Determining the font for <li>'s and <a>'s */
	font-size: 0.871em ; /* ...and the size */
}

/* Images to the right side */

img {
	border-radius: 5px ; /* Rounds the corners of images */
	height: auto ; /* This doesn't really do anything but hopefully it demonstrates that I know how to use it :) */
	width: 43.5% ; /* Sets the width of images to an amount of pixels */
}

figure {
	margin: 25px auto ; /* Provides space between <figure>'s */
}

figure img {
	display: inline ; /* Changes the display of <figure>'s and <img>'s to 'inline' */
	vertical-align: middle ; /* Centers the <figcaption>'s vertically */ 
}

figcaption {
	display: inline-block ; /* Key to <img>'s and <figcaption>'s displaying by each other instead of above each other */
	font-family: "Helvetica Neue", "Helvetica", "Source Sans Pro", "Arial", sans-serif ; /* Just setting the font */
	font-weight: 200 ; /* ...and the weight of the font */
	margin: 15px auto ;
	text-align: center ; /* Centering the text for the design */
	width: 43.5% ; /* Key to positioning the <figcaption> text */
}

.column {
	float: left ;
	width: 50% ;
	text-align: center ;
}

.columnContainer {
	background: #db81d5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: linear-gradient(to bottom,  #db81d5 0%,#dd00cf 100%); /* W3C */
	margin: 5px ;
	padding: 5px ;
}

footer {
	background-image: url("../images/footer_lodyas.png") ;
	background-repeat: no-repeat ;
	background-position: top center ;
	background-size: cover ;
	border: 2px solid #777 ;
	border-bottom: none ;
	clear: both ;
	float: right ;
	text-align: right ;
	padding: 35px ;
	width: 40% ;
}

/* Table */
table {
	font-size: 16px ;
	padding: 0 ;
	width: auto ;
	margin: auto ;
	border: 2px solid deeppink ;
	text-align: right ;
	background-color: rgba(0,0,0,0.9) ;
	border-spacing: 0 ;
	border-collapse: collapse ;
	letter-spacing: -0.2px ;
}

table, table * {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
}

table * {
	padding: 4px ;
}

th {
	height: 40px ;
}

table:hover {
	background-color: #000 ;
}

/* Form stuff */

form {
	padding: 40px ;
	border: 15px solid deeppink ;
	color: deeppink ;
	background-color: rgba(0,0,0,0.9) ;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
	font-weight: 200 ;
	margin: 50px 10px 10px ;
	line-height: 40px ;
	text-align: right ;
	width: auto ;
}

form:hover, form:focus {
	background-color: #000 ;
}

label {
	float: left ;
	width: 20px  ;
}

/* Input fields */

input[name] { /* Using this, the buttons at the bottom of the form don't become that ugly gray colour and they're instead the default */
	padding: 10px ;
	font-size: 12px ;
	border: none ;
	text-indent: 15px ;
}

input:hover, input:focus {
	background-color: #444 ;
}

input:focus {
	text-indent: 0px ;
}

input:hover::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {color: #fafafa ;}
input:hover:-moz-placeholder, input:focus:-moz-placeholder {color: #fafafa ;} /* FF 4-18 */
input:hover::-moz-placeholder, input:focus::-moz-placeholder {color: #fafafa ;} /* FF 19+ */
input:hover:-ms-input-placeholder, input:focus:-ms-input-placeholder {color: #fafafa ;} /* IE 10+ */

/* Made with <3 by Alexander */
/* Completed Wednesday, November 19, 2014 */
/* CSS3 validation (thorugh W3C) passed with no errors */